#cerabox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 48px;
	height: 48px;
	margin-top: -24px;
	margin-left: -24px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1106;
	display: none;
	padding:5px;
	background-color: #fff;
 	box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.80);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#cerabox-loading div {
	width: 48px;
	height: 48px;
	background-image: url("../img/loading.gif");
}

#cerabox-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1100;
	display: none;
	background: transparent;
	opacity: .5;
}

#cerabox {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1101;
	display: none;
	opacity: 0;
	background: #FFF;

 	box-shadow: 0px 0px 17px 4px rgba(255, 255, 255, 0.60);
    -moz-box-shadow: 0px 0px 17px 4px rgba(255, 255, 255, 0.60);
    -webkit-box-shadow: 0px 0px 17px 4px rgba(255, 255, 255, 0.60);
}

#cerabox .cerabox-content {
	width: 100%;
	height: 100%;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
}

#cerabox span.cerabox-error, #cerabox .cerabox-title span {
	padding: 10px;
	display: block;
	font-family: Helvetica;
	font-size: 12px;
	color: #CCC;
	line-height: normal;
	background-color: #171717;
}
#cerabox span.cerabox-error { text-align: justify; }
#cerabox .cerabox-title span { display: none;}

#cerabox .cerabox-title {
	z-index: 1102;
	text-align: left;
	width: 100%;
 	box-shadow: 0px 0px 17px 4px rgba(255, 255, 255, 0.60);
    -moz-box-shadow: 0px 0px 17px 4px rgba(255, 255, 255, 0.60);
    -webkit-box-shadow: 0px 0px 17px 4px rgba(255, 255, 255, 0.60);

}

#cerabox .cerabox-title .number {
	float:right;
	margin-left:20px;
	color: #666;
}

.cerabox-autoplay {
    border: 1px solid red;
    position: absolute;

}

#cerabox .cerabox-close {
	position: absolute;
	top: -20px;
	right: -20px;
	width: 40px;
	height: 40px;
	background: url('../img/close.png') no-repeat;
	cursor: pointer;
	z-index: 1105;
}

#cerabox .cerabox-content img.image {
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#cerabox .cerabox-content iframe.iframe {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#cerabox a.cerabox-left, #cerabox a.cerabox-right {
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('../img/blank.gif');
	z-index: 1104;
	display: none;
}

#cerabox a.cerabox-left {
	left: 0;
}

#cerabox a.cerabox-right {
	right: 0;
}

#cerabox a.cerabox-left span, #cerabox a.cerabox-right span {
	position: absolute;
	top: 50%;
	/*left: -9999px;*/
	width: 40px;
	height: 40px;
	margin-top: -20px;
	cursor: pointer;
	z-index: 1104;
	display: block;
}

#cerabox a.cerabox-left span, #cerabox.mobile a.cerabox-left span {
	background-image: url('../img/prev.png');
	background-repeat: no-repeat;
	left: -20px;
}

#cerabox a.cerabox-right span, #cerabox.mobile a.cerabox-right span {
	background-image: url('../img/next.png');
	background-repeat: no-repeat;
	right: -20px;
}

#cerabox .cerabox-content-protection {
	display: none;
	position: absolute;
	background: transparent url('../img/blank.gif');
	z-index: 1103;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.lightbox4wardContent {
	overflow: auto;
	height: 100%;
}
.lightbox4wardContentInside {
	padding: 10px;
}

/*IE6*/
#cerabox-loading.ceraboxbox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}



/*Mobile*/
#cerabox.mobile {
	/*width: 100% !important;
	height: 100% !important;*/
	background: #000;
}

#cerabox.mobile .cerabox-title
{
	position: absolute;
	top: 0;
}
#cerabox.mobile .cerabox-content {
	background: #fff;
	/*CSS3*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#cerabox.mobile .cerabox-title .number {
	margin-right:45px
}

#cerabox.mobile .cerabox-content :first-child {
	background: #fff;
}

#cerabox.mobile .cerabox-close {
	background-image: url(../img/closeMobile.png);
	top: 2px !important;
	right: 0 !important;
}

#cerabox.mobile a.cerabox-left span {
	left: 0 !important;
}

#cerabox.mobile a.cerabox-right span {
	right: 0 !important;
}

#cerabox.mobile a.cerabox-left, #cerabox.mobile a.cerabox-right {
	width: 30%;
}